body{
    direction: rtl;
    border-width: 100%;

    background-image: url(Lighthouse.jpg);
}
.frmRadio{
       width: 359px;
    border-style: groove;
    border-width: 10px;
    background-color: #ffafaf;
    padding: 15px;
    margin: 11px 30px;
   
}
.labRadio{
    font-family: tahoma;
    font-size: 20px;
    
}
.pRadio{
    background-color: rosybrown;
    padding: 6px;
    border-style: double;
    font-family: fantasy;
    margin: 10px;
}
.pRadio:hover{
    background-color: #FFAFF0;
    padding: 6px;
    border-style: double;
    font-family: fantasy;
    margin: 10px;
}

.btn{
    width: 403px;
    height: 55px;
    margin: 30px;
    font-family: fantasy;
    font-size: 43px;
    color: red;
    background-color: aqua;
}
.btn:hover{
    width: 403px;
    height: 55px;
    margin: 30px;
    font-family: fantasy;
    font-size: 43px;
    color:aqua ;
    background-color:  red;
}

span {
    font-size: 30px;
    border-width: 4px;
    border-color: aqua;
    
}
h1{
    background-color: aquamarine;
    border-style: dotted;
   /* border-color: blue;*/
    margin-right: 50px;
    margin-top: 10px;
    width: 326px;
}
}